# Dependencies
node_modules
.serverless/
.pnpm-store/
.pnpm-debug.log

# Build
output/
dist/
.wrangler/
.dev.vars

# Environment
.env
.env.*
!.env.example

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Models
models/ 